.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 45px;
}

.productBrandText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 24px 0;
}

.productBrandsImg {
  width: 100%;
  max-width: 308px;
}

.content .swiperWrapper {
  margin-left: 0px;
}

.container .swiperSlide {
  width: initial;
}

@media screen and (max-width: 767px) {
  .content .swiperWrapper {
    margin-left: -40px;
  }

  .container {
    padding: 0;
  }

  .productBrandText {
    margin: 40px 0 24px 0;
  }
}
