:root {
  --white: #fff;

  --black-100: #353535;
  --black-500: #000000;
  --gray-100: #efefef;
  --yellow-500: #faa500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  background: var(--white);
  color: var(--black-100);
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 8px solid var(--yellow-500);
}
.swiper-pagination-bullet-active {
  background-color: var(--yellow-500) !important;
}
.swiper-button-prev {
  background-image: url("./components/assets/svg/prev.svg");
  background-repeat: no-repeat;
}

.swiper-button-next {
  background-image: url("./components/assets/svg/next.svg");
  background-repeat: no-repeat;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}
