.price {
  font-weight: 900;
  font-size: 20px;
  color: var(--black-500);
  margin-bottom: 8px;
}

.description {
  color: var(--black-100);
  margin: 8px 0;
}

.button {
  display: flex;
  width: 100%;
  justify-content: center;
  border: transparent;
  height: 36px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background: var(--yellow-500);
  color: var(--white);
}
